@font-face {
    src: url("../fonts/CaviarDreams.ttf");
    font-family: Caviar;
}

@font-face {
    src: url("../fonts/JosefinSans.ttf");
    font-family: Josefin;
}

body {
    background-image: url("../images/background.png");
}

.container {
    text-align: center;
}

h1 {
    font-family: Caviar;
    font-size: 48px;
}

.textarea {
    display: inline-block;
}

#from, #to {
    font-family: Josefin;
    font-size: 16px;
}

p {
    opacity: 0.25;
    position: absolute;
    transition: background-color 0.25s, opacity 0.25s;
}

p:hover {
    background-color: #eee;
    opacity: 1;
}

button {
    font-family: Caviar;
}
